<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/stylesheets/user/signin/style.css">
</head>

<body>

    <form class="box" action="/signin" method="post">
        <h1>Login</h1>
        <h4 style="color: white;">Don't have a account? <span><a href="/signuppage" style="color: white; text-decoration: none;">Sign up</a> </span></h4>

        <input type="text" name="Email" placeholder="Email">
        <input type="password" name="Password" placeholder="Password">
        <button type="submit">Login</button>
    </form>


</body>

</html>