
 <!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
      <div class="inner-header " style="margin-right: 100px;">
          <div class="logo">
              <!-- <a href="./index.html"><img src="/images/user/img/logo.png" alt=""></a> -->
              <!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iPro</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">


    

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/user/home/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/stylesheets/user/home/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/stylesheets/user/home/css/nice-select.css" >
    <link rel="stylesheet" href="/stylesheets/user/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/user/home/css/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/user/home/css/slicknav.min.css" >
    <link rel="stylesheet" href="/stylesheets/user/home/css/style.css">
</head>




          </div>
          <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
          <div class="header-right">
              <img src="/images/user/img/icons/search.png" alt="" class="search-trigger">
              <a href="/user/profile"><img src="/images/user/img/icons/man.png" . style="margin-left: 26px" alt="" > </a>
          
              <a href="/wishList">
                <img src="/images/user/img/icons/heart.png" style="height:18px;margin-left: 26px" alt="">
              <a href="/cart">
                  <img src="/images/user/img/icons/bag.png"  style="margin-left: 26px"  alt="">
                  
              </a>
          </div>




          <nav class="main-menu mobile-menu">
              <ul>
                  <li><a class="active" href="/homepage">Home</a></li>
                  <li><a href="/products">Shop</a>
                      <ul class="sub-menu">
                          
                          <li><a href="/cart">Shopping Card</a></li>
                          <li><a href="/checkout">Check out</a></li>
                      </ul>
                  </li>
                  <li><a href="./product-page.html">About</a></li>
                  <li><a href="./check-out.html">Blog</a></li>
                  <li><a href="./contact.html">Contact</a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>



 


   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card" style="margin-top: 80px;">
      <div style="border-radius:200px; height:200px; width:200px;margin-top:50px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      </div>
    </body>
</html>
  
  
 
