<!-- Header Section Begin -->
<%-include('../user/layout/user-header-layout.ejs') -%>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
           
                    <div
                    class="logo"><a href="/"><img src="/public/images/ipro2.logo.webp" alt="" style="height: 30px;"></a>
                    <span style="font-size:20px; color:rgb(76, 118, 95); font-family: Verdana, Geneva, Tahoma, sans-serif;">iPro</span>
                </div>
                    
            <div class="header-right">
               
                <a href="/user/profile"><i class="fa fa-user-o"  style="color: black; margin-left: 26px;" ></i>
                <a href="/wishList">
                   <i class="fa fa-heart-o" style="color: black; margin-left: 26px;"></i>
                <a href="/cart">
                    <i class="fa fa-shopping-cart" style="color: black; margin-left: 26px;"></i>
                    
                </a>
                <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a href="/search" class="btn btn-light" type="submit">
        <i class="fa fa-search"></i>
      </a> -->
    </form>
            </div>
             <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="active" style="text-decoration: none;" href="/">Home</a></li>
                    <li><a href="/products" style="text-decoration: none;">Shop</a>
                        <ul class="sub-menu">
                            
                            <li><a href="/cart" style="text-decoration: none;">Shopping Card</a></li>
                            <li><a href="/checkout" style="text-decoration: none;">Check out</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact" style="text-decoration: none;">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

    <style>
        body {
            text-align: center;
            padding: 40px 0;
            background: #EBF0F5;
        }
        h1 {
            color: #88B04B;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-weight: 900;
            font-size: 40px;
            margin-bottom: 10px;
        }
        p {
            color: #404F5E;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-size: 20px;
            margin: 0;
        }
        i {
            color: #9ABC66;
            font-size: 100px;
            line-height: 200px;
            margin-left: -15px;
        }
        .card {
            background: white;
            padding: 60px;
            border-radius: 4px;
            box-shadow: 0 2px 3px #C8D0D8;
            display: inline-block;
            margin: 0 auto;
        }
    </style>
    <body>
        <div class="card" style="margin-top: 80px;">
            <div style="border-radius:200px; height:200px; width:200px;margin-top:50px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1>Success</h1>
            <p>We received your purchase request;<br/>
                we'll be in touch shortly!</p>
        </div>
    </body>
</html>
