<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/stylesheets/user/signin/style.css">
</head>

<body>

    <form class="box" action="/otp" method="post">
        <h1>Sign up</h1>
        <h4 style="color: black;">Already have an account? <span><a href="/login" style="color:black; text-decoration: none;">Login</a> </span></h4>

        <input type="text" name="FullName" placeholder="Full Name" required pattern="[A-Za-z]{3,22}">
        <input type="text" name="UserName" placeholder="User Name" required  pattern="[A-Za-z]{3,22}">
        <input type="email" name="Email" placeholder="Email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input type="tel" name="Phone" placeholder="Phone" required   pattern="[789][0-9]{9}">
        <input type="password" name="Password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <div class="alert-text signup__alert">
            <span class="help__text">At least 8 character</span>
        <button type="submit">Sign up</button>
    </form>


</body>

</html>

