<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/stylesheets/user/signin/style.css">
</head>

<body>

    <form class="box" action="/otp" method="post">
        <h1>Sign up</h1>
        <h4 style="color: white;">Already have an account? <span><a href="/login" style="color: white; text-decoration: none;">Login</a> </span></h4>

        <input type="text" name="FullName" placeholder="Full Name" required>
        <input type="text" name="UserName" placeholder="User Name" required>
        <input type="email" name="Email" placeholder="Email" required>
        <input type="tel" name="Phone" placeholder="Phone" required>
        <input type="password" name="Password" placeholder="Password" required>
        <button type="submit">Sign up</button>
    </form>


</body>

</html>