<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
           
                    <div
                    class="logo"><a href="/"><img src="/public/images/ipro2.logo.webp" alt="" style="height: 30px;"></a>
                    <span style="font-size:20px; color:rgb(76, 118, 95); font-family: Verdana, Geneva, Tahoma, sans-serif;">iPro</span>
                </div>
                    
            <div class="header-right">
                <img src="/images/user/img/icons/search.png" alt="" class="search-trigger">
                <a href="/user/profile"><img src="/images/user/img/icons/man.png" . style="margin-left: 26px" alt="" > </a>
            
                <a href="/wishList">
                  <img src="/images/user/img/icons/heart.png" style="height:18px;margin-left: 26px" alt="">
                <a href="/cart">
                    <img src="/images/user/img/icons/bag.png"  style="margin-left: 26px"  alt="">
                    
                </a>
            </div>



            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="active" href="/homepage">Home</a></li>
                    <li><a href="/products">Shop</a>
                        <ul class="sub-menu">
                            
                            <li><a href="/cart">Shopping Card</a></li>
                            <li><a href="/checkout">Check out</a></li>
                        </ul>
                    </li>
                    <li><a href="./product-page.html">About</a></li>
                  
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>