body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#B0BCC2;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    text-align: center;
}

.box h1 {
    color:black;
    text-transform: uppercase;
    font-weight: 500;
}

.box h2 {
    color: black;
    font-weight: lighter;
}


.box input[type="text"],
.box input[type="password"],
.box input[type="email"],
.box input[type="tel"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cadetblue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus,
.box input[type="tel"]:focus  {
    width: 280px;
    border-color: cadetblue;
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(4, 88, 84);
    padding: 14px 40px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type="submit"]:hover {
    background: cadetblue;
}